.App {
    padding: 10px;
    font-family: 'Roboto', 'Open Sans', arial, sans-serif;
    font-size: 14px;
}

h1 {
    margin: 0 0 10px;
}

pre, code {
    font-family: Menlo, monospace;
}

.block {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.block-header {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
}

.code-error {
    color: red;
    margin: 0;
}

.column {
    float: left;
}

.column.left {
    width: 80px;
}

ol, ul {
    list-style-position: outside;
    padding-left: 18px;
    margin: 5px 0;
}

ol.cause-list > li {
    margin-bottom: 10px;
}

.parse-info {
    margin: 5px 0;
    font-family: Menlo, monospace;
}

.last-token {
    color: red;
}

.tooltip sup {
    font-size: 10px;
    color: blue;
}
