.App {
    background-color: white; 
    padding: 10px;
    font-family: 'open_sans_regular';
    font-size: 14px;
    animation-name: start_red;
    animation-duration: 5s; 
}

h1 {
    margin: 0 0 10px;
}

pre, code {
    font-family: Menlo, monospace;
    background-color: #c2c2c273;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 2px 4px;
}

.block {
    box-sizing: content-box;
    border: solid #eee 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 5px;
    padding: 3px;
}

.block-header {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
}

.code-error {
    color: red;
    margin: 0;
}

.column {
    float: left;
}

.column.left {
    width: 80px;
}

ol, ul {
    list-style-position: outside;
    padding-left: 18px;
    margin: 5px 0;
}

ol.cause-list > li {
    margin-bottom: 10px;
}

.parse-info {
    margin: 5px 0;
    font-family: Menlo, monospace;
}

.last-token {
    color: red;
}

tooltip {
    border-bottom: 1px dotted #ccc;
}

.tooltip sup {
    font-size: 10px;
    color: blue;
}


.__react_component_tooltip {
    max-width: 300px;
}

@font-face {
    font-family: 'open_sans_regular';
    src: url('webfonts/opensans-regular-webfont.woff2') format('woff2'),
         url('webfonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes start_red {
    0% {background-color: #white;}
    16% {background-color: #fce3e1;}
    33% {background-color: white;}
    50% {background-color: #fce3e1;}
    67% {background-color: white;}
    83% {background-color: #fce3e1;}
    100% {background-color: white;}
}
